@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*header parties*/

header img {
  width: 268px;
  height: 33px;
}

header {
  /*box model*/
  margin: 5% 10%;

  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

header li {
  list-style-type: none;
}

header a {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 #d3cfc9;
  min-width: 300px;
}
.dropdown {
  position: relative;
}

.dropdown ul {
  height: 200px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  text-decoration: none;
  padding: 10%;
}

/* Introduction Part */

@media (max-width: 800px) {
  .introduction h1 {
    text-align: center;
  }
  .parag {
    display: flex;
    flex-direction: column;
  }
}

.introduction {
  /* box model */
  margin: 5% 10%;

  /* flex box */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.parag {
  display: flex;
}

.parag p {
  padding: 3%;
  font-family: "Roboto", sans-serif;
}

.introduction h1 {
  font-size: 2.125rem;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}

/*zone bleu*/

.healthcare {
  background-color: #d2f1ff;
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.gauche {
  margin-left: 16%;
}
.gauche h1 {
  margin-top: 20%;
  color: #00b39b;
  font-size: 2.125rem;
  font-weight: 300px;
  letter-spacing: -0.3px;
  font-family: Work Sans, Arial, sans-serif;
}

.gauche p {
  max-width: 415px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857143;
}

.droite {
  margin-right: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}

.stats-item {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  height: 250px;
}
.leader {
  margin-top: 8%;
  width: 200px;
  height: 200px;
}
.apointments {
  margin-top: 2%;
  width: 200px;
  height: 200px;
}
.doctors {
  margin-top: -5%;
  width: 200px;
  height: 200px;
}
.patients {
  width: 200px;
  height: 200px;
}

/* countries Part */
@media (max-width: 800px) {
  .countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
  }
  .country {
    min-width: 100%;
  }
  .country img {
    min-width: 100%;
  }
}
.countries {
  /*box model*/
  margin: 2% 10%;

  /*flex box*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country {
  margin-bottom: 3%;
  border-radius: 8px;
}
.country div {
  display: flex;
  justify-content: space-around;
  padding: 8%;
}

.countries img {
  border-radius: 8px;
}

.country:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div button {
  background-color: #3d83df;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 0.625rem;
  padding: 1em 1.5em;
  text-align: center;
}
div button:hover {
  background-color: #1556ac;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  text-align: center;
}
